
/* FONTS */
$default-font: 'raleway', sans-serif;


/* COLORS */
$accent: #f9c766;
$accent_sec: #66c7cd;
$accent_thd: #f86868;
$gray_dark: #2c2c2c;
$gray: #555555;
$gray_sec: #505050;
$gray_light: #b9b9b9;


/* SEMANTICS COLORS */
$dummy: #151515;
$icon_prm: $gray;
$icon_sec: $gray_dark;
$icon_thd: $gray_light;
$icon_bg: $gray_sec;
$price: #4a4a4a;
$overlay: #3d3c3c;







// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"

